#canvas { width: 60%; }
@media screen and (max-width: 800px) {
  #canvas { width: 100%; }
}
#canvas,#canvasOrigin {
  box-sizing: border-box;
  border: 2px outset #888;
}
/* logic seperate area */
.l {
  margin: 0.5em 0;
  padding: 0.7em;
  border: 2px groove gray;
}
.help { font-size:70%; }
h1,a {font-family: sans-serif;}
* {font-family: monospace;}
input[type=number] { width: 4.5em; }
footer { padding-top: 10em;width: 24.4vw;margin: auto;text-align: center;}
footer>* {width: 24.4vw; margin-bottom: 1em;}
